@model OnCall_Staffing.Models.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" />
            <input type="hidden" asp-for="IdentityUserId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certifications" class="control-label"></label>
                <select asp-for="Certifications" class="form-control">
                    <option value="Home Health Aide">Home Health Aide</option>
                    <option value="Certified Nurse Assistant">Certified Nurse Assistant</option>
                    <option value="Medical Assistant">Medical Assistant</option>
                    <option value="Phlebotomist">Phlebotomist</option>
                    <option value="Certified electrocardiogram Technician">Certified electrocardiogram Technician</option>
                    <option value="Licensed Practical Nurse">Licensed Practical Nurse</option>
                    <option value="Registered Nurse">Registered Nurse</option>
                    <option value="Respiratory Therapist">Respiratory Therapist</option>
                    <option value="Physical Therapist">Physical Therapist</option>
                    <option value="Occupational Therapist">Occupational Therapist</option>
                </select>
                <span asp-validation-for="Certifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
