@model OnCall_Staffing.Models.Posting

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Posting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility" class="control-label"></label>
                <input asp-for="Facility" class="form-control" />
                <span asp-validation-for="Facility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayRate" class="control-label"></label>
                <input asp-for="PayRate" class="form-control" />
                <span asp-validation-for="PayRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionDescription" class="control-label"></label>
                <input asp-for="PositionDescription" class="form-control" />
                <span asp-validation-for="PositionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalInstructions" class="control-label"></label>
                <input asp-for="ArrivalInstructions" class="form-control" />
                <span asp-validation-for="ArrivalInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressID" class="control-label"></label>
                <select asp-for="AddressID" class ="form-control" asp-items="ViewBag.AddressID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployerID" class="control-label"></label>
                <select asp-for="EmployerID" class ="form-control" asp-items="ViewBag.EmployerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
